@import '../../styles/variables/_variables';

.btn-step {
  background: none;
  border: none;
  cursor: pointer;
  font-size: $font-size18;
  padding: 0;

  &:hover {
    color: $gray-light;
  }

  &[disabled] {
    color: $black_20;
  }
}

.step-back {
  i {margin-right: .5em;}
}

.step-forward {
  i {margin-left: .5em;}
}