@import '../../../styles/variables/_variables';

.area {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 30em;

  &__item {
    background-color: $gray-lighter;
    border: 1px solid $gray-light;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10em;
    height: 10em;
    transition: background-color .3s;

    &.active {
      cursor: default;
    }

    &:not(.active):hover {
      background-color: $gray-lightest;
      cursor: pointer;
    }

    i {
      font-size: $font-size36;

      &.icon-cross {color: $blue;}
      &.icon-circle {color: $red;}
    }
  }
}
